<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="src/normalize/normalize.css">
    <link rel="icon" href="src/favicon/bencod-favi.png" type="image/png" />
    <script src="src/fontawesome/fontawesome.js"></script>
    <title>B E N C O D</title>
</head>
<body id="body" class="scroll">
<div class="loading">
	<div class="loading-text">
		<span class="loading-text-words">L</span>
		<span class="loading-text-words">O</span>
		<span class="loading-text-words">A</span>
		<span class="loading-text-words">D</span>
		<span class="loading-text-words">I</span>
		<span class="loading-text-words">N</span>
		<span class="loading-text-words">G</span>
	</div>
</div>
<div id="home-page"></div>      
    <header id="header">
        <nav class="section-container-nav">
            <div class="container-brand">
                <h1>BENCOD</h1>
            </div>
            <nav id="container-nav">
                <button class="nav-icon" id="nav-icon"><span></span></button>
                <ul>
                    <li><a href="#home-page">home</a></li>
                    <li><a href="#about-page">about</a></li>
                    <li><a href="#projects-page">projects</a></li>
                    <li><a href="#contact-page">contact</a></li>
                </ul>
            </nav>
        </nav>
        <div class="section-container-vid">
            <div class="container-vid">
                <video plays-inline autoplay loop muted>
                    <source src="src/vid/bencod-vid.mp4" type="video/mp4" >
                </video>
            </div>
            <div class="section-container-letter">
               <svg class="intro" viewbox="0 0 200 86">
                   <text text-anchor="start" x="5" y="60" class="text text-stroke" clip-path="url(#text1)">Where</text>
                   <text text-anchor="start" x="5" y="80" class="text text-stroke" clip-path="url(#text2)">Ideas Begin.</text>
                   <text text-anchor="start" x="5" y="60" class="text text-stroke text-stroke-2" clip-path="url(#text1)">Where</text>
                   <text text-anchor="start" x="5" y="80" class="text text-stroke text-stroke-2" clip-path="url(#text2)">Ideas Begin.</text>
                   <defs>
                       <clipPath id="text1">
                           <text text-anchor="start" x="5" y="60" class="text">Where</text>
                       </clipPath>
                       <clipPath id="text2">
                          <text text-anchor="start" x="5" y="80" class="text">Ideas Begin.</text>
                       </clipPath>
                   </defs>
               </svg>
            </div>
            <div class="container-vid-shade"></div>
        </div>
        <div class="clear"></div>            
    </header>
    <section id="section" class="section-main">
<div id="about-page"></div>    
        <div id="about" class="section-one">
            <h2 class="hideme">About</h2>
            <img class="hideme" src="src/img/profile.jpg" alt="Benjamin E. Valencia" />
            <div class="skills">
                <div class="skill-left" class="hideme">
                    <div class="box hideme">
                        <div>HTML5</div>
                        <div>95%</div>
                        <div class="one"></div>
                    </div>
                    <div class="box hideme">
                        <div>CSS3 &amp; Sass</div>
                        <div>90%</div>
                        <div class="two"></div>
                    </div>
                    <div class="box hideme">
                        <div>JS &amp; JQuery</div>
                        <div>90%</div>
                        <div class="three"></div>
                    </div>
                    <div class="box hideme">
                        <div>WordPress</div>
                        <div>85%</div>
                        <div class="four"></div>
                    </div>
                    <div class="box hideme">
                        <div>PHP</div>
                        <div>75%</div>
                        <div class="five"></div>
                    </div>
                    <div class="box hideme">
                        <div>MySQL</div>
                        <div>75%</div>
                        <div class="six"></div>
                    </div>
                </div>
                <div class="skill-right">
                    <p class="hideme">Soy un diseñador y desarrollador web front-end. Durante mi carrera he desarrollado una variedad de páginas web, responsable acercamiento a mis proyectos con los que me puedo presentar. Me considero perfeccionista y Estoy inmerso en las últimas tendencias que envuelven al diseño y desarrollo web.</p>
                    <div class="hideme">
                        <a href="https://github.com/becod" class="fa fa-github-square"></a>
                        <a href="https://www.behance.net/ben_valencia" class="fa fa-behance-square"></a>
                        <a href="https://www.linkedin.com/in/benjamin-e-valencia-b46874115" class="fa fa-linkedin-square"></a>
                    </div>
                </div>
            </div>
            <div>
                <div id="skills">
                    <div class="skill-column">
                        <div class="skill-columns hideme">
                            <div class="fa fa-cogs"></div>
                            <p class="hideme">Estoy constantemente preguntado me "¿Cómo funcionan las cosas?" Mi curiosidad y deseo para entender es lo que me hace seguir en pie en la industria.</p>
                        </div>
                        <div class="skill-columns hideme">
                            <div class="fa fa-road"></div>
                            <p class="hideme">La web está constantemente cambiando y actualizándose, Educándome constante mente porque siempre hay algo nuevo para aprender y perfeccionar.</p>
                        </div>
                        <div class="skill-columns hideme">
                            <div class="fa fa-microchip"></div>
                            <p class="hideme">Estoy siempre retándome y empujándome a crecer. Lo desconocido de esta industria siempre me mantiene enganchado e inspirado.</p>
                        </div>
                    </div>
                </div>
             </div>
        </div>
<div id="projects-page"></div>     
        <div class="section-two">
            <h2 class="hideme" >Projects</h2>
            <svg id="icons" xmlns="http://www.w3.org/2000/svg">  
                <symbol id="icon-arrow" viewBox="0 0 476.213 476.213" >
                    <polygon fill="inherit" points="347.5,324.393 253.353,418.541 253.353,0 223.353,0 223.353,419.033 128.713,324.393 107.5,345.607 
	238.107,476.213 368.713,345.606 "/>
                </symbol>
            </svg>
            <div class="slider-content">
            <div class="number-wrapper">
                <div class="number-count">
                    <div class="number">01</div>
                </div>
            </div>
            <div class="nav-wrapper">
                <div class="nav-arrows">
                    <div class="nav-up">
                        <svg id="arrow-up">
                            <use xlink:href="#icon-arrow"></use>
                        </svg>
                    </div>
                    <div class="nav-line"></div>
                    <div class="nav-down">
                        <svg id="arrow-down">
                            <use xlink:href="#icon-arrow"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="slider-wrapper">
                <div class="slider-container">                       
                    <div class="slide active" data-order="1">
                        <div class="slide-content txt">
                            <div class="txt-wrapper">
                                <h3><span>BENCOD</span> </h3>
                                <span class="subtitle">Old Webpage</span>
                                <p class="excerpt">Web portafolio donde muestro mis primeros diseños y webs desarrolladas. </p>
                                <div class="section-download">
                                    <a href="http://bencod.pe.hu/bencod" target="_blank">Visit WebSite</a>
                                </div>
                            </div>
                        </div>
                        <div class="slide-content img">
                            <img src="https://raw.githubusercontent.com/becod/Job-Profile/master/Projects/Bencod/bencodweb-design.png" alt="" />
                        </div>
                    </div>  
                    <div class="slide " data-order="2">
                        <div class="slide-content txt">
                            <div class="txt-wrapper">
                                <h3><span>Thing <br> Thing</span></h3>
                                <span class="subtitle">Re-design Concept</span>
                                <p class="excerpt">I combine the best of our skills and ideas to present you products really worth your attention that will change the way you think about design, structure, color and website itself.</p>
                                <div class="section-download">
                                   <a href="https://becod.github.io/ThingThing/" target="_blank">Visit WebSite</a>
                                </div>
                            </div>
                        </div>
                        <div class="slide-content img">
                            <img src="https://raw.githubusercontent.com/becod/Job-Profile/master/Projects/ThingThing/ThingThingweb-design.png" alt="" />
                        </div>
                   </div>
                   <div class="slide " data-order="3">
                       <div class="slide-content txt">
                           <div class="txt-wrapper">
                               <h3><span>TheEnd</span></h3>
                               <span class="subtitle">Re-design Concept</span>
                               <p class="excerpt">I combine the best of our skills and ideas to present you products really worth your attention that will change the way you think about design, structure, color and website itself. </p>
                               <div class="section-download">
                                   <a href="https://becod.github.io/TheEnd/" target="_blank">Visit WebSite</a>
                               </div>
                          </div>
                       </div>
                       <div class="slide-content img">
                           <img src="https://raw.githubusercontent.com/becod/Job-Profile/master/Projects/Theend/Theendweb-design.png" alt="" />
                       </div>
                  </div>  
                  <div class="slide " data-order="4">
                      <div class="slide-content txt">
                          <div class="txt-wrapper">
                              <h3><span>Physik</span></h3>
                              <span class="subtitle">Web Portfolio</span>
                              <p class="excerpt">I combine the best of our skills and ideas to present you products really worth your attention that will change the way you think about design, structure, color and website itself.</p>
                              <div class="section-download">
                                  <a href="https://physik.pe.hu" target="_blank">Visit WebSite</a>
                              </div>
                          </div>
                      </div>
                      <div class="slide-content img">
                          <img src="https://becod.github.io/ThingThing/img/ThingThing-WebRedisign.png" alt="" />
                      </div>
                  </div>
                  <div class="slide " data-order="5">
                      <div class="slide-content txt">
                          <div class="txt-wrapper">
                              <h3><span>Cosmo <br> polita</span></h3>
                              <span class="subtitle">Web Design</span>
                              <p class="excerpt">I combine the best of our skills and ideas to present you products really worth your attention that will change the way you think about design, structure, color and website itself. </p>
                              <div class="section-download">
                                  <a href="https://www.cosmopolita.ga" target="_blank">Visit WebSite</a>
                              </div>
                          </div>
                      </div>
                      <div class="slide-content img">
                          <img src="https://becod.github.io/Bencod-1st/img/bencod-website.png" alt="" />
                      </div>
                  </div>  
                  <div class="slide" data-order="6">
                      <div class="slide-content txt">
                          <div class="txt-wrapper">
                              <h3><span>The <br> Walkers</span></h3>
                              <span class="subtitle">Web Design</span>
                              <p class="excerpt">I combine the best of our skills and ideas to present you products really worth your attention that will change the way you think about design, structure, color and website itself.</p>
                              <div class="section-download">
                                  <button>Visit WebSite</button>
                              </div>
                           </div>
                      </div>
                      <div class="slide-content img">
                          <img src="https://becod.github.io/ThingThing/img/ThingThing-WebRedisign.png" alt="" />
                      </div>
                  </div>
                </div>
            </div>
            </div>
            <div class="responsive-portfolio hideme">
                <div class="box-portfolio">
                    <img src="https://becod.github.io/ThingThing/img/ThingThing-WebRedisign.png" alt="">
                    <h3>bencod</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <a href="#">Visit Web</a>
                </div>
                <div class="box-portfolio">
                    <img src="https://becod.github.io/ThingThing/img/ThingThing-WebRedisign.png" alt="">
                    <h3>bencod</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <a href="#">Visit Web</a>
                </div>
                <div class="box-portfolio">
                    <img src="https://becod.github.io/ThingThing/img/ThingThing-WebRedisign.png" alt="">
                    <h3>bencod</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <a href="#">Visit Web</a>
                </div>
                <div class="box-portfolio">
                    <img src="https://becod.github.io/ThingThing/img/ThingThing-WebRedisign.png" alt="">
                    <h3>bencod</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <a href="#">Visit Web</a>
                </div>
                <div class="box-portfolio">
                    <img src="https://becod.github.io/ThingThing/img/ThingThing-WebRedisign.png" alt="">
                    <h3>bencod</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <a href="#">Visit Web</a>
                </div>
                <div class="box-portfolio">
                    <img src="https://becod.github.io/ThingThing/img/ThingThing-WebRedisign.png" alt="">
                    <h3>bencod</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <a href="#">Visit Web</a>
                </div>    
            </div>
            <div class="section-two-clients hideme">
                <div class="clients-content">
                    <img src="src/img/clients/banner-cosmopolita.png" alt="">
                    <img src="src/img/clients/banner-physik2.png" alt="">
                    <img src="src/img/clients/banner-theend2.png" alt="">
                    <img src="src/img/clients/banner-thingthing2.png" alt="">
                </div>
            </div>
        </div>
<div id="contact-page"></div>      
        <div class="section-three">
            <h2 class="hideme">CONTACT</h2>
            <div class="section-three-box-one hideme">
                <div class="section-three-form ">
                    <form id="form-contact" method="post" onkeypress="runScriptContact(event)">
                        <input type="text" name="name" id="inputName" class=" " placeholder="Name" autocomplete="on" required onkeyup="clearUp(this)"><br>
                        <input type="email" name="email" id="inputEmail" class=" " placeholder="Email" autocomplete="on" required onkeyup="clearUp(this)"><br>
                        <textarea name="message" id="inputMessage" class=" " rows="10" placeholder="Message" autocomplete="off" onkeyup="clearUp(this)"></textarea><br>
                        <div class="section-download">
                            <button type="button" name="submit" id="contact" onclick="goCheck()">SEND</button>
                        </div>
                    </form>
                </div>
            </div> 
            <div class="section-three-box-two">
                <div class="section-three-info hideme">
                    <h3>BENCOD</h3>
                    <p class="coreservas-direction-p">
                    <br>
                    <br>
                    Spain, Barcelona
                    <br>
                    <br>
                    E-Mail: benvalencia290@gmail.com
                    <br>
                    <br>
                    Telefono: +34 697 80 30 74
                    </p>  
                </div>
            </div>
            <div class="clear"></div>     
        </div>
    </section>
    <footer>
        <div class="section-four">
            <div class="footer-download">
                <div class="section-download">
                    <a href="src/download/BenjaminE.Valencia_CV.pdf" download="BenjaminE.Valencia_CV.pdf">DOWNLOAD CV</a>
                </div>
            </div>
            <div class="footer-social">
                <div class="social-container">
                    <a href="https://github.com/becod" class="fa fa-github"></a>
                    <a href="https://www.behance.net/ben_valencia" class="fa fa-behance"></a>
                    <a href="https://www.linkedin.com/in/benjamin-e-valencia-b46874115" class="fa fa-linkedin"></a>
                    <a href="mailto:benvalencia290@gmail.com" class="fa fa-envelope-o"></a>
                </div>
            </div>
        </div>
        <div class="footer-container-rights">
            <div class="footer-above">
                <a class="footer-to-top" href="#home-page">
                    <div class="scroll-up"></div>
                </a>
            </div>
            <div class="footer-rights">&copy; 2017 BENCOD All Rights Reserved.</div>
        </div> 
    </footer>
    
<script src="src/jquery/jquery-3.2.1.min.js"></script>
<script src="src/tweenmax/TweenMax.min.js"></script>
<script src="js/script.min.js"></script>    
</body>
</html>
