@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);
*:before, *, *:after {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body {
  height: 100%;
  font-family: "Open Sans", sans-serif; }

h1, h2, h3 {
  margin: 0 !important;
  text-transform: uppercase;
  letter-spacing: -0.08em; }

p {
  letter-spacing: -0.0125em; }

section {
  padding: 6em 0; }

.clear {
  clear: both; }

.scroll {
  overflow: hidden; }

.hiden {
  display: none;
  overflow: hidden; }

.hideme {
  opacity: 0; }

.error {
  border: solid 1px #f44 !important; }

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 99999;
  overflow: hidden; }

.loading-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100px;
  line-height: 100px; }
  .loading-text span {
    display: inline-block;
    margin: 0 5px;
    color: #fff;
    font-family: "Quattrocento Sans", sans-serif; }
    .loading-text span:nth-child(1) {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      -webkit-animation: blur-text 1.5s 0s infinite linear alternate;
              animation: blur-text 1.5s 0s infinite linear alternate; }
    .loading-text span:nth-child(2) {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      -webkit-animation: blur-text 1.5s 0.2s infinite linear alternate;
              animation: blur-text 1.5s 0.2s infinite linear alternate; }
    .loading-text span:nth-child(3) {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      -webkit-animation: blur-text 1.5s 0.4s infinite linear alternate;
              animation: blur-text 1.5s 0.4s infinite linear alternate; }
    .loading-text span:nth-child(4) {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      -webkit-animation: blur-text 1.5s 0.6s infinite linear alternate;
              animation: blur-text 1.5s 0.6s infinite linear alternate; }
    .loading-text span:nth-child(5) {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      -webkit-animation: blur-text 1.5s 0.8s infinite linear alternate;
              animation: blur-text 1.5s 0.8s infinite linear alternate; }
    .loading-text span:nth-child(6) {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      -webkit-animation: blur-text 1.5s 1s infinite linear alternate;
              animation: blur-text 1.5s 1s infinite linear alternate; }
    .loading-text span:nth-child(7) {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      -webkit-animation: blur-text 1.5s 1.2s infinite linear alternate;
              animation: blur-text 1.5s 1.2s infinite linear alternate; }

@-webkit-keyframes blur-text {
  0% {
    -webkit-filter: blur(0px);
            filter: blur(0px); }
  100% {
    -webkit-filter: blur(4px);
            filter: blur(4px); } }

@keyframes blur-text {
  0% {
    -webkit-filter: blur(0px);
            filter: blur(0px); }
  100% {
    -webkit-filter: blur(4px);
            filter: blur(4px); } }
header {
  font-family: "Abel", sans-serif; }

.section-container-nav {
  position: fixed;
  mix-blend-mode: difference;
  z-index: 99; }

.container-brand {
  position: relative;
  top: 15px;
  left: 15px; }
  .container-brand > h1 {
    font-size: 2em !important;
    font-weight: 100 !important;
    color: #fff; }

#container-nav {
  z-index: 100; }
  #container-nav ul {
    position: fixed;
    top: 60px;
    right: 15px;
    height: 100vh;
    visibility: hidden;
    pointer-events: none;
    list-style: none;
    width: 35px; }
    #container-nav ul li {
      font-size: 1.1em;
      font-weight: 100;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: .75em 0;
      -webkit-writing-mode: vertical-lr;
          -ms-writing-mode: tb-lr;
              writing-mode: vertical-lr; }
      #container-nav ul li a {
        text-decoration: none;
        color: #fff; }
  #container-nav.active ul {
    visibility: visible;
    pointer-events: initial;
    -webkit-transition-delay: .2s;
            transition-delay: .2s; }

.nav-icon {
  outline: none !important;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  cursor: pointer;
  display: inline-block;
  height: 45px;
  position: fixed;
  top: 15px;
  right: 15px;
  -webkit-transform: background .3s;
          transform: background .3s;
  width: 50px; }
  .nav-icon span {
    position: absolute;
    top: 15px;
    left: 5px;
    background: #fff;
    display: block;
    height: 3px;
    right: 5px;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s; }
    .nav-icon span:before, .nav-icon span:after {
      width: 100%;
      height: 3px;
      background: #fff;
      content: "";
      display: block;
      left: 0;
      position: absolute; }
    .nav-icon span:before {
      top: -8px; }
    .nav-icon span:after {
      bottom: -8px; }
  .active .nav-icon span {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }

.section-container-vid {
  height: 100vh;
  position: relative;
  z-index: -1;
  top: 0;
  left: 0; }

.container-vid {
  height: 100vh;
  position: fixed;
  width: 100%; }
  .container-vid > video {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100vh; }

.container-vid-shade {
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 3;
  height: 100vh;
  position: fixed;
  width: 100%; }

.section-main {
  background-color: #fff;
  padding-top: 5%;
  padding-bottom: 10%; }

.section-one, .section-two, .section-three {
  max-width: 1200px;
  margin: auto;
  padding-bottom: 10%; }

svg.intro {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  svg.intro .text {
    display: none; }
  svg.intro.go .text {
    font-family: Arial, sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    display: block; }
  svg.intro.go .text-stroke {
    fill: none;
    stroke: #000;
    stroke-width: 2.8px;
    stroke-dashoffset: -900;
    stroke-dasharray: 900;
    stroke-linecap: butt;
    stroke-linejoin: round;
    -webkit-animation: dash 4s ease-in-out forwards;
            animation: dash 4s ease-in-out forwards; }
  svg.intro.go .text-stroke:nth-child(2) {
    -webkit-animation-delay: .8s;
            animation-delay: .8s; }
  svg.intro.go .text-stroke-2 {
    stroke: #f6bdfa;
    -webkit-animation-delay: 2s;
            animation-delay: 2s; }

@-webkit-keyframes dash {
  100% {
    stroke-dashoffset: 0; } }

@keyframes dash {
  100% {
    stroke-dashoffset: 0; } }
#about h2, .section-two h2, #portfolio h2, .container > h2, .section-three h2 {
  padding: 20% 0 3% 0;
  display: block;
  color: #5B5A60;
  text-align: center;
  font-size: 2em;
  font-weight: 100; }

#about {
  max-width: 100%;
  background: #fff;
  color: black;
  padding-bottom: 10%; }

.skill-right p {
  line-height: 150%;
  color: rgba(26, 26, 26, 0.6); }

#about img {
  display: block;
  margin: 0 25%;
  width: 50%;
  margin-bottom: 20%;
  -webkit-box-shadow: rgba(26, 45, 63, 0.37) 6px 6px 23px 0px;
          box-shadow: rgba(26, 45, 63, 0.37) 6px 6px 23px 0px; }

.skills {
  max-width: 100%;
  background: #fff;
  padding: 0 8%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse; }

.skills ul {
  padding-top: 10%; }

.box {
  height: 1.5em;
  margin: 2% 0;
  width: 100%;
  color: #2D2D2D;
  border: .05em solid #2D2D2D;
  border-radius: 2px;
  display: inline-block; }
  .box div:first-child {
    color: #f1f1f1;
    float: left;
    padding-left: 10px; }
  .box div:nth-child(2) {
    color: #f1f1f1;
    font-size: 1.1em;
    mix-blend-mode: difference;
    float: right;
    padding-right: 10px; }
  .box div:first-child, .box div:nth-child(2) {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }

.one {
  height: 1.4em;
  width: 95%;
  background: #2D2D2D;
  display: block; }

.two {
  height: 1.4em;
  width: 90%;
  background: #2D2D2D;
  display: block; }

.three {
  height: 1.4em;
  width: 90%;
  background: #2D2D2D;
  display: block; }

.four {
  height: 1.4em;
  width: 85%;
  background: #2D2D2D;
  display: block; }

.five {
  height: 1.4em;
  width: 70%;
  background: #2D2D2D;
  display: block; }

.six {
  height: 1.4em;
  width: 70%;
  background: #2D2D2D;
  display: block; }

.skill-right {
  padding-bottom: 30px; }
  .skill-right > div {
    font-size: 2em;
    margin-top: 15px; }
    .skill-right > div > a {
      text-decoration: none;
      margin-right: 25px;
      color: black; }
      .skill-right > div > a:last-child {
        margin-right: 0px; }

.skill-column {
  margin-top: 15%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.skill-columns {
  width: 33.33%;
  padding: 0 5%; }
  .skill-columns > div {
    font-size: 4em;
    padding-bottom: 10%; }
  .skill-columns > p {
    font-size: 1em;
    line-height: 1.5em;
    color: rgba(26, 26, 26, 0.6); }

.section-download > button, .section-download > a {
  padding: 20px 40px;
  background: none;
  border: none;
  position: relative;
  color: #000 !important;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
  text-decoration: none; }
  .section-download > button:after, .section-download > button:before, .section-download > a:after, .section-download > a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 2px solid #000;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s; }
  .section-download > button:after, .section-download > a:after {
    -webkit-transform: translate(3px, 3px);
            transform: translate(3px, 3px); }
  .section-download > button:before, .section-download > a:before {
    -webkit-transform: translate(-3px, -3px);
            transform: translate(-3px, -3px); }
  .section-download > button:hover:after, .section-download > button:hover:before, .section-download > a:hover:after, .section-download > a:hover:before {
    -webkit-transform: translate(0);
            transform: translate(0); }

#icons {
  display: none; }

.header-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 4rem;
  z-index: 20; }

.header-wrapper .header {
  position: relative;
  display: block;
  width: 100%;
  height: 6rem; }

.header-wrapper .menu-hamburger {
  position: relative;
  width: 1.3rem;
  display: inline-block;
  vertical-align: middle;
  background: black;
  height: .2rem;
  cursor: pointer; }

.header-wrapper .menu-hamburger::before {
  content: "";
  width: 1.3rem;
  height: .2rem;
  background: black;
  position: absolute;
  top: -0.4rem; }

.header-wrapper .menu-hamburger::after {
  content: "";
  width: 1.3rem;
  height: .2rem;
  background: black;
  position: absolute;
  top: .4rem; }

.header-wrapper .menu-txt {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: .5rem;
  text-transform: uppercase;
  cursor: pointer; }

.header-wrapper .logo-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.header-wrapper .logo {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 3rem;
  line-height: 1;
  font-weight: 600; }

.header-wrapper .logo span {
  display: block; }

.number-wrapper {
  position: absolute;
  height: 100%;
  width: 12rem;
  z-index: 10; }

.number-wrapper .number-count {
  position: relative;
  display: inline-block;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.number-wrapper .number {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 12rem;
  color: #efefef;
  margin-left: -5rem;
  font-weight: 700; }

.nav-wrapper {
  position: absolute;
  height: 100%;
  width: 12rem;
  padding: 0 4rem;
  top: 0;
  right: 0;
  text-align: center;
  z-index: 10; }

.nav-wrapper .nav-arrows {
  position: relative;
  display: inline-block;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.nav-wrapper .nav-up {
  opacity: 0; }

.nav-wrapper .nav-up, .nav-wrapper .nav-down {
  width: 2rem;
  height: 3rem;
  cursor: pointer; }

.nav-wrapper .nav-up svg, .nav-wrapper .nav-down svg {
  fill: #666666;
  width: 100%;
  max-height: 100%; }

.nav-wrapper .nav-up svg:hover, .nav-wrapper .nav-down svg:hover {
  fill: black; }

.nav-wrapper .nav-up {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.nav-wrapper .nav-line {
  width: 100%;
  height: .1rem;
  background: black;
  margin: 1rem 0;
  background: #666666; }

.slider-content {
  margin-top: 10% !important;
  position: relative;
  max-height: 850px;
  max-width: 112rem;
  min-width: 480px;
  background: #fff;
  margin: 0 auto;
  overflow: hidden;
  -webkit-box-shadow: 0 0 35px 20px rgba(79, 69, 66, 0.2);
          box-shadow: 0 0 35px 20px rgba(79, 69, 66, 0.2); }

.slider-content .slide {
  position: absolute;
  width: 100%;
  height: 850px; }

.slider-content .slide:after {
  content: "";
  display: table;
  clear: both; }

.slider-content .slide:first-child .txt-wrapper span.copy {
  opacity: 1; }

.slider-content .slide:nth-child(odd) .img {
  margin-left: 50%;
  height: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%); }

.slider-content .slide:nth-child(odd) .txt {
  -webkit-transform: translateY(100%);
          transform: translateY(100%); }

.slider-content .slide:nth-child(even) .img {
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%); }

.slider-content .slide:nth-child(even) .txt {
  margin-left: 45%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%); }

.slider-content .slide.active {
  position: absolute;
  z-index: 6; }

.slider-content .slide.active .img, .slider-content .slide.active .txt {
  -webkit-transform: translateY(0);
          transform: translateY(0); }

.slider-container {
  position: relative;
  height: 65rem;
  overflow: hidden; }

.slider-container:after {
  content: "";
  display: table;
  clear: both; }

.slider-container .slide-content {
  position: absolute;
  display: block;
  width: 50%;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  -webkit-transition-delay: .15s;
          transition-delay: .15s; }

.slider-container .slide-content.txt {
  display: table;
  padding: 15rem 10rem;
  background: white; }

.slider-container .slide-content .txt-wrapper {
  position: relative;
  display: table-cell;
  vertical-align: middle; }

.slider-container .slide-content .txt-wrapper span.copy {
  position: relative;
  text-transform: uppercase;
  width: 2rem;
  display: block;
  font-size: 1rem;
  line-height: 1;
  margin-bottom: 4rem;
  font-weight: 500;
  opacity: 0; }

.slider-container .slide-content .txt-wrapper h3 {
  margin: 0;
  font-size: 4.3rem;
  margin-bottom: 4rem;
  line-height: 1;
  font-weight: 600; }

.slider-container .slide-content .txt-wrapper h3 span {
  display: block; }

.slider-container .slide-content .txt-wrapper h4 {
  margin: 0;
  font-size: 2rem;
  margin-bottom: 2rem;
  line-height: 1;
  font-weight: 400; }

.slider-container .slide-content .txt-wrapper h4 span {
  color: #ccc; }

.slider-container .slide-content .txt-wrapper a {
  text-decoration: none;
  color: #AEACAB; }

.slider-container .slide-conent .txt-wrapper button {
  position: relative;
  padding: 1rem 3.5rem;
  color: white;
  text-align: center;
  display: block;
  border-radius: 3rem;
  background: #d02e2e;
  text-transform: uppercase;
  border: none;
  font-size: 1rem;
  margin-top: 3rem;
  font-weight: bold;
  outline: none;
  -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3); }

.slider-container .slide-content .txt-wrapper .phone {
  display: block;
  color: black;
  font-size: 1.9rem; }

.slider-container .slide-content .txt-wrapper .subtitle {
  display: block;
  text-transform: uppercase;
  color: #AEACAB;
  font-weight: bold;
  letter-spacing: .3rem;
  font-size: 1.2rem;
  margin-bottom: 2rem; }

.slider-container .slide-content .txt-wrapper p.excerpt {
  margin: 0;
  color: #AEACAB;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: 5rem;
  margin-bottom: 3rem; }

.slider-container .slide-content .txt-wrapper span.view-all {
  color: #AEACAB; }

.slider-container .slide-content .txt-wrapper ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 1.5rem; }

.slider-container .slide-content .txt-wrapper ul li {
  position: relative;
  margin: 1.5rem 0;
  padding: 0; }

.slider-container .slide-content .txt-wrapper ul li:after {
  content: "";
  display: table;
  clear: both; }

.slider-container .slide-content .txt-wrapper .date-wrapper {
  width: 20%;
  float: left;
  color: #AEACAB;
  text-align: left; }

.slider-container .slide-content .txt-wrapper .date-wrapper .date {
  font-size: 1.7rem; }

.slider-container .slide-content .txt-wrapper .date-wrapper .month {
  font-size: 1rem; }

.slider-container .slide-content .txt-wrapper .post-wrapper {
  width: 80%;
  float: left; }

.slider-container .slide-content .txt-wrapper .post-wrapper .post-title {
  display: block;
  font-size: 1.4rem;
  line-height: 1.3; }

.slider-container .slide-content .txt-wrapper .post-wrapper .post-title a {
  display: block;
  color: black;
  cursor: pointer; }

.slider-container .slide-content .txt-wrapper .post-wrapper .post-title a:hover {
  text-decoration: underline; }

.slider-container .slide-content .txt-wrapper .post-wrapper .post-info {
  display: block;
  color: #AEACAB;
  font-size: 1rem; }

.slider-container .slide-content .txt-wrapper .post-wrapper .post-info:after {
  content: "";
  display: table;
  clear: both; }

.slider-container .slide-content .txt-wrapper .post-wrapper .post-info ul {
  margin: 0; }

.slider-container .slide-content .txt-wrapper .post-wrapper .post-info li {
  float: left;
  margin: 0 .5rem; }

.slider-container .slide-content .txt-wrapper .post-wrapper .post-info li:first-child {
  margin-left: 0; }

.slider-container .slide-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.responsive-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.box-portfolio {
  background-color: #f1f1f1;
  width: 90%;
  max-width: 300px;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 15%;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 15px 5px rgba(79, 69, 66, 0.2);
          box-shadow: 0 0 15px 5px rgba(79, 69, 66, 0.2); }
  .box-portfolio > img {
    width: 100%;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover; }
  .box-portfolio > h3 {
    padding-top: 5px;
    padding-bottom: 5px; }
  .box-portfolio > p {
    padding-top: 5px;
    padding-bottom: 25px; }
  .box-portfolio > a {
    text-decoration: none;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 4px;
    background-color: #dedede;
    -webkit-box-shadow: 2px 2px 5px 1px rgba(79, 69, 66, 0.2);
            box-shadow: 2px 2px 5px 1px rgba(79, 69, 66, 0.2); }

.footer {
  position: absolute;
  display: block;
  width: 100%;
  height: 6rem;
  bottom: 0;
  left: 0;
  padding: 2rem 4rem;
  z-index: 10; }

.footer:after {
  content: "";
  display: table;
  clear: both; }

.social-wrapper, .language-wrapper {
  position: relative; }

.social-wrapper ul, .language-wrapper ul {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0; }

.social-wrapper li, .language-wrapper li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 .5rem; }

.social-wrapper a, .language-wrapper a {
  text-decoration: none;
  color: black; }

.social-wrapper {
  float: left; }

.language-wrapper {
  float: right; }

.section-two-clients {
  margin-top: 10%; }

.clients-content {
  text-align: center; }
  .clients-content > img {
    width: 90%;
    max-width: 250px;
    margin-right: 25px;
    margin-top: 30px; }
  .clients-content > img:last-child {
    margin-right: 0px; }

.section-three {
  padding: 0 5%; }
  .section-three > div:last-child {
    padding-bottom: 5%; }

.section-three-form {
  max-width: 500px;
  float: left; }

.section-three-box-one {
  margin-top: 20%; }

.section-three-box-two {
  float: right; }

.section-three-info > h3 {
  margin-bottom: 15px !important; }

.section-three-from > form > input, input, textarea {
  padding: 5px;
  margin-bottom: 10px !important;
  color: #2D2D2D;
  width: 450px;
  border: solid 1px black; }

.section-three-form > form {
  text-align: center; }

.footer-download {
  text-align: center;
  background: #ECF0F1;
  padding-top: 4%;
  padding-bottom: 3%; }

.section-download > a {
  color: black; }

.footer-social {
  background: #ECF0F1;
  padding-top: 2%;
  padding-bottom: 2%; }

.social-container {
  text-align: center; }
  .social-container > a {
    text-decoration: none;
    color: black;
    font-size: 2.5em !important;
    padding: 10px;
    margin-right: 25px; }
    .social-container > a:last-child {
      margin-right: 0px; }

.footer-container-rights {
  background-color: #ECF0F1; }

.footer-rights {
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  background: #ECF0F1;
  color: black; }

.footer-above {
  padding-top: 3%;
  padding-bottom: 3%; }

.scroll-up {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: auto;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  display: block;
  border-top: 2px solid black;
  border-left: 2px solid black;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s; }

@media (min-width: 64em) {
  header {
    background-position-y: -8vw; } }
@media screen and (max-width: 300px) {
  .section-download > a {
    letter-spacing: inherit; } }
@media screen and (max-width: 768px) {
  html {
    width: 100%; }

  body {
    overflow-x: hidden; }

  form {
    margin: auto;
    max-width: inherit; }

  .section-three-form {
    margin: auto; }

  form > input, form > textarea {
    width: 100%; }

  .section-container-vid {
    height: inherit;
    top: inherit;
    padding-top: 65px;
    background: #fff; }

  .container-vid {
    top: inherit;
    height: inherit;
    position: inherit;
    width: 100%;
    -webkit-transform: none !important;
            transform: none !important; }

  svg.intro {
    position: absolute;
    top: 60%; }

  .container-vid-shade {
    height: inherit;
    position: inherit;
    top: inherit; }

  div#about {
    width: 100%; }

  .section-one h2, .section-two h2, .container > h2, .section-three > h2 {
    padding-top: 15% !important;
    padding-bottom: 15% !important;
    font-size: 2.2em !important; }

  .skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse; }

  .skill-right {
    padding-bottom: 20%; }

  .skill-right p {
    font-size: 1.1em; }

  .skill-left {
    margin: auto; }

  .skill-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .skill-columns {
    width: 100%;
    margin-bottom: 20%; }

  .slider-content {
    display: none; }

  .clients-content > img {
    margin-right: inherit; }

  .section-three-form {
    float: inherit; }

  .section-three-box-two {
    margin-top: 25%;
    float: inherit; }

  .footer-download {
    padding-top: 20%;
    padding-bottom: 20%; }

  .footer-social {
    padding-top: 5%;
    padding-bottom: 5%; }

  .social-container > a {
    font-size: 2.3em !important; }

  .footer-above {
    padding-top: 15%;
    padding-bottom: 15%; }

  .footer-rights {
    padding-top: 5%;
    padding-bottom: 5%; } }
@media screen and (min-width: 769px) {
  .hideme {
    opacity: 1; }

  #about h2, #skills h2, #portfolio h2, .container > h2, .section-three > h2 {
    font-size: 2em; }

  .clients-content > img {
    margin-right: 25px; }

  .skill-right p {
    font-size: 1.2em; }

  .responsive-portfolio {
    display: none; }

  .footer-download {
    padding-top: 10%;
    padding-bottom: 10%; }

  .footer-above {
    padding-top: 5%;
    padding-bottom: 5%; } }
@media screen and (min-width: 1000px) {
  .hideme {
    opacity: 0; }

  .section-one, .section-two, .section-three {
    max-width: 1000px !important;
    margin-bottom: 10%; }

  #about h2, .section-two h2, .container > h2, .section-three > h2 {
    padding-top: 5%;
    padding-bottom: 2%; }

  .skill-right p {
    font-size: 1.24em;
    line-height: 1.5em;
    padding-bottom: 0; }

  #about img {
    margin-top: 5% !important;
    width: 30%;
    margin: auto;
    margin-bottom: 10%; }

  .skills {
    padding: 0;
    -ms-flex-pack: distribute;
        justify-content: space-around; }

  .skill-left, .skill-right {
    display: inline-block;
    width: 45%;
    padding-right: 5%;
    text-align: left;
    font-size: .8em; }

  .skill-right {
    padding-right: 0;
    padding-left: 5%;
    position: relative;
    vertical-align: top; }

  .slider-container .slide-content .txt-wrapper h3 {
    font-size: 3.3rem; }

  #port {
    margin: 15% 0; }

  #footer {
    padding-bottom: 2.5%; } }
@media screen and (min-width: 1500px) {
  .hideme {
    opacity: 0; }

  .section-one, .section-two, .section-three {
    max-width: 1500px !important; }

  #footer, .footer-rights {
    padding-bottom: 2%; } }
