import React, { Component } from 'react';

class {{pascalCase name}} extends Component {
  render() {
    return (
        <div class="root">
            {{pascalCase name}}
        </div>
    );
  }
}

export default {{pascalCase name}};
