@import "src/styles/variables";

.menu-bar {
    width: 100%;
    height: $menuHeight;
}
    
.menu-bar-container {
    width: 97%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

    .menu-bar-container-image {
        height: $menuHeight;

        &> img {
            height: 100%
        }
    }
    .menu-bar-container-nav {
        display: flex;
        flex-wrap: wrap;

        &> div {
            margin: 0 1rem 0 1rem;

            &> a {
                padding: 1rem;
                position: relative;
                top: 35%;
            }
        }
    }
}