import React from 'react';
import './{{pascalCase name}}.scss';

const {{pascalCase name}} = props => {
  return (
    <div className="root">
      {{pascalCase name}}
    </div>
  );
};

export default {{pascalCase name}};